<!--<h1 class={{cname}}>Angular Demo</h1>
  <p> String Intepolation </p>
<img src={{path}} alt="no image">

Name: <input type="text">
  <p> Property Binding </p>
  <img [src]=path alt="no image">
Mobile: <input type="number" [hidden]=isHidden>
<button [disabled]=isDisabled>Submit</button>
<app-header></app-header>
<p [class]="isActive?'active':'inactive'">Class Binding</p>
<p [class]="{active:isActive}">Class Binding</p>
<h2 [style]="{color:cvar}">Style Binding</h2>
<h2 [style.color]=cvar1>Style Binding</h2>
<h2 [style]=mystyle>Style Binding</h2>

<p>Event Binding</p>
<button (click)="increment()">Click</button><br>
<button (click)="decrement()">Click</button>
<p>Counter: {{counter}}</p>
Name: <input type="text" (input)="changeName($event)">
<h2>Your Name:{{name}}</h2>

<p>Two way Data Binding</p>
City: <input type="text" [(ngModel)]="city">
<p>{{city}}</p>
<h1 *ngIf="!showHead; then load; else sample"></h1>
<ng-template #load>
  <h1> Structural Directives</h1></ng-template>
<ng-template #sample>
  {{showHead}} <br>  this is template driven reference
</ng-template>

<p *ngFor="let n of nums;index as i">paragraph {{n}} {{i}}</p>
<table border=3>
    <th>
      content
    </th>
    <th>
      index
    </th>
    <th>
      even
    </th>
    <th>
      odd
    </th>
    <th>
      first
    </th>
    <th>
      last
    </th>
  <tr *ngFor="let n of nums;index as i;even as e;odd as o; first as f; last as l">
    <td>
      data {{n}}
    </td>
    <td>
      {{i}}
    </td>
    <td>
      {{e}}
    </td>
    <td>
      {{o}}
    </td>
    <td>
      {{f}}
    </td>
    <td>
      {{l}}
    </td>
  </tr>
</table>


<input type="text" [(ngModel)]="num1">
<input type="text" [(ngModel)]="num2">
<input type="text" [(ngModel)]="op">
<div [ngSwitch]="op">
  <div *ngSwitchCase="'+'">{{num1+num2}}</div>
  <div *ngSwitchCase="'-'">{{num1-num2}}</div>
  <div *ngSwitchCase="'*'">{{num1*num2}}</div>
  <div *ngSwitchCase="'/'">{{num1/num2}}</div>
  <div *ngSwitchDefault>Not a operator</div>
</div>
<h1>{{n | uppercase}}</h1>
<h1>{{salary | currency : 'INR' : 'symbol'}}</h1>
<p>{{person.name}}</p>
<p>{{person | json}}</p>
<p>{{dob | date : 'dd-MM-yyyy'}}</p>
<p>{{num | percent}}</p>
<p>{{n | slice:2:100}}</p>
<h1>{{wish | test:'param1':'param2'}}</h1>-->
<input type="text" placeholder="Enter email" #e value="abc@gmail.com">
<div>{{e.value}}</div>
